<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>65682280200-p6mf7adl13udko1k4h7d4e3tps5nhjbk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.65682280200-p6mf7adl13udko1k4h7d4e3tps5nhjbk</string>
	<key>API_KEY</key>
	<string>AIzaSyAPAcnIdG4V9VHhqNphaVHGJ1hUKGLXCOI</string>
	<key>GCM_SENDER_ID</key>
	<string>65682280200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.questableQuizFlutter</string>
	<key>PROJECT_ID</key>
	<string>questable-data-60074</string>
	<key>STORAGE_BUCKET</key>
	<string>questable-data-60074.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65682280200:ios:5565339620943fb9fb26bd</string>
</dict>
</plist>